/*background color: #E5E5E5
button order-service: #188CE8; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
color button filter: #2196F3;
color inactive button filter: #F5F4FA;
color hero:#2F303A;
first fonts color: #212121;
second fonts color: #757575;
*/
:root {
  --basic-color: #ffffff;
  --second-color: #f5f4fa;
  --hero-color: #2f303a;
  --first-fonts-color: #212121;
  --second-fonts-color: #757575;
  --active-element-color: #2196f3;
  --order-service-color: #188ce8;
  --soc-inactive: #afb1b8;
  --shadow: rgba(0, 0, 0, 0.15);
  --time-transition: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}
/*Body*/

body {
  background-color: var(--basic-color);
  font-family: 'Roboto', sans-serif;
  color: var(--first-fonts-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0 94px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.nav-link:hover,
.nav-link:focus,
.nav .contacts-link:hover,
.nav .contacts-link:focus,
.clients-link:hover,
.clients-link:focus,
.footer .contacts-link:hover,
.footer .contacts-link:focus {
  color: var(--active-element-color);
}

/*---------------Section header-------------*/

/*Logo*/

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-fonts-color);
}

.color-web,
.nav-link.current {
  color: var(--active-element-color);
}

.header {
  background-color: var(--basic-color);
  border-bottom: 1px solid #ececec;
}

/*Navigation*/

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav .nav-items {
  display: flex;
}

.nav .header-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--first-fonts-color);
  transition: color var(--time) var(--time-transition),
    transform var(--time) var(--time-transition);
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 5px;

  background-color: var(--active-element-color);
  border-radius: 2px;
  max-height: 4px;

  transform: scaleX(0);
  transition: color var(--time) var(--time-transition),
    transform var(--time) var(--time-transition);
}

.nav-link:hover::after,
.current::after {
  transform: scaleX(1);
  transition: color var(--time) var(--time-transition),
    transform var(--time) var(--time-transition);
}

.nav .contacts-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-fonts-color);
  transition: color var(--time) var(--time-transition);
}

/*Contacts*/

.contacts-link .smartphone,
.contacts-link .envelope {
  padding: 0;
  margin-right: 10px;
  fill: currentColor;
}

/*---------------Section hero-------------*/

.business {
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  max-width: 696px;
  text-transform: uppercase;
}

.hero {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero_img.jpg');
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-color: var(--hero-color);
  color: var(--basic-color);
  text-align: center;
  padding: 200px 0;
}

.order-service {
  padding: 10px 32px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;

  border: none;
  border-radius: 4px;
  background-color: var(--active-element-color);
  color: var(--basic-color);
  transition: background-color var(--time) var(--time-transition),
    color var(--time) var(--time-transition),
    box-shadow var(--time) var(--time-transition);
}

.order-service:hover,
.order-service:focus,
.button-submit:hover,
.button-submit:focus,
.button-subscribe:hover,
.button-subscribe:focus {
  background: var(--order-service-color);
  box-shadow: 0px 4px 4px var(--shadow);
  border-radius: 4px;
}

/*---------------Section tips-------------*/

.tips-list {
  display: flex;
}

.tips-header {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.tips-text {
  margin: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-fonts-color);
  max-width: 270px;
}

.tips-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.tips-item:nth-child(4n) {
  margin-right: 0;
}

.tips-thumb {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: var(--second-color);
  border-radius: 4px;
}

.tips-svg {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 70px;
}

/*---------------Section make-------------*/

.make {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.section-make {
  padding-top: 0;
}

.make-list {
  display: flex;
}

.make-item {
  position: relative;
  margin-right: 0;
}

.make-item:not(:last-child) {
  margin-right: 30px;
}

.make-item .make-text {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--basic-color);
  background: rgba(47, 48, 58, 0.8);
}

/*---------------Section team-------------*/
.section-team {
  background-color: var(--second-color);
}

.team {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
}

.team-photo,
.make-photo,
.example-photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-name {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-position {
  margin: 0 0 16px;
  text-align: center;

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--second-fonts-color);
}

.team-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;

  background: var(--basic-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding: 30px 32px;
}

.soc {
  display: flex;
  justify-content: center;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: var(--soc-inactive);

  transition: background-color var(--time) var(--time-transition),
    color var(--time) var(--time-transition);
}

.soc-item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.soc-item:not(:last-child) {
  margin-right: 10px;
}

.soc-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--active-element-color);
  color: var(--basic-color);
}
/*---------------Section clients-------------*/

.clients-header {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid var(--soc-inactive);
  color: var(--soc-inactive);
  border-radius: 4px;

  transition: border-color var(--time) var(--time-transition),
    color var(--time) var(--time-transition);
}

.clients-link .clients-svg {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--active-element-color);
}

/*---------------Section footer-------------*/
.footer {
  display: flex;
  padding: 60px 0;
  background-color: var(--hero-color);
}

.address .address-text {
  margin: 0 0 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--basic-color);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  color: var(--basic-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-soc {
  margin-right: auto;
}

.footer-soc-text,
.form-subscribe-text {
  display: flex;
  margin: 0 0 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--basic-color);
}

.footer .soc-svg {
  color: var(--basic-color);
}

.footer-nav {
  display: flex;
  align-items: baseline;
}

.footer-contact {
  margin-right: 70px;
}

.footer .contacts-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
}

.form-subscribe {
  display: flex;
}

.label-subscribe {
  display: flex;
  align-items: center;
}

.telegram-icon {
  width: 24px;
  height: 24px;
  fill: var(--basic-color);
}

.form-subscribe .button-subscribe {
  justify-content: space-between;
  padding: 10px 32px;
}

.input-subscribe {
  display: block;
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline-style: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.input-subscribe::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* --------------------Modal-------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform var(--time) var(--time-transition),
    opacity var(--time) var(--time-transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  transform: scale(0);
  transition: transform var(--time) var(--time-transition),
    opacity var(--time) var(--time-transition);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;

  background: var(--basic-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;

  color: var(--first-fonts-color);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--basic-color);
  transition: color var(--time) var(--time-transition);
}

.modal-close:hover,
.modal-close:focus {
  color: var(--active-element-color);
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.form-text {
  margin: 0 0 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--first-fonts-color);
}

.form-modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 448px;
  height: 100%;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  display: flex;
  padding-left: 42px;
  width: 100%;
  height: 40px;

  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--first-fonts-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border var(--time) var(--time-transition);
}

.form-input:focus {
  border: 1px solid var(--active-element-color);
  outline: -webkit-focus-ring-color auto 0px;
}

.form-input:focus + .form-svg {
  fill: var(--active-element-color);
}

.form-svg {
  position: absolute;
  transform: translate(12px, 28px);

  width: 18px;
  height: 18px;
  transition: fill var(--time) var(--time-transition);
}

.form-feedback .form-input {
  padding: 12px 16px;
  margin-bottom: 20px;
  height: 120px;
  resize: none;

  color: var(--first-fonts-color);
}

.form-feedback .form-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-name {
  display: flex;
  margin: 0;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--second-fonts-color);
}

.form-name:not(:last-child) {
  margin-bottom: 4px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox:checked + .icon-checkbox {
  border-color: var(--active-element-color);
  background-color: var(--active-element-color);
  background-size: contain;
  background-origin: border-box;
}

.checkbox:focus + .icon-checkbox {
  border-color: var(--active-element-color);
}

.icon-checkbox {
  align-items: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--first-fonts-color);

  transition: background-color var(--time) var(--time-transition),
    color var(--time) var(--time-transition),
    background-color var(--time) var(--time-transition);
}

.form-checkbox-name {
  margin-left: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-fonts-color);
}

.form-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;

  color: var(--active-element-color);
}

.button-submit,
.button-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--basic-color);
  cursor: pointer;

  background: var(--active-element-color);
  box-shadow: 0px 4px 4px var(--shadow);
  border-radius: 4px;
  border: none;

  transition: background-color var(--time) var(--time-transition),
    color var(--time) var(--time-transition),
    box-shadow var(--time) var(--time-transition);
}

/********************************Portfolio page*********************************/

.filter-button {
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--first-fonts-color);
  cursor: pointer;

  transition: background-color var(--time) var(--time-transition),
    color var(--time) var(--time-transition),
    box-shadow var(--time) var(--time-transition);
}

.filter-button:hover,
.filter-button:focus,
.current-button {
  background-color: var(--active-element-color);
  color: var(--basic-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item {
  margin-right: 0;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.example-link {
  display: block;
  transition: box-shadow var(--time) var(--time-transition);
}

.example-link:hover,
.example-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-thumb {
  position: relative;
  height: 294px;
  overflow: hidden;
  transition: transform var(--time) var(--time-transition),
    opacity var(--time) var(--time-transition);
}

.example-thumb::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);

  opacity: 1;
  transition: transform var(--time) var(--time-transition),
    opacity var(--time) var(--time-transition);
}

.example-link:hover .example-thumb::before,
.example-link:focus .example-thumb::before,
.example-link:hover .example-action,
.example-link:focus .example-action {
  transform: translateY(0%);
  transition: transform var(--time) var(--time-transition);
}

.example-action {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform var(--time) var(--time-transition);
}

.example-overlay {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--basic-color);
}

.example-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.example-header {
  margin: 0;

  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-fonts-color);
}

.example-text {
  margin: 0;

  text-align: left;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-fonts-color);
}

.example-item {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  margin-right: 30px;

  background: var(--basic-color);
}

.example-item:nth-child(3n) {
  margin-right: 0;
}

.example-item .example-content {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
