.header-contacts__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $second-fonts-color;
  transition: color $time-duration $time-transition;

  &:hover,
  &:focus {
    color: $active-element-color;
  }
}

.header-contacts__icon {
  padding: 0;
  margin-right: 10px;
  fill: currentColor;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: $active-element-color;
  }
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
