.footer {
  padding: 60px 0;
  background-color: $hero-color;
}

.footer-soc {
  margin-right: auto;
}

.footer-soc__text {
  margin: 0 0 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $basic-color;
}

.footer__address {
  margin-right: 70px;
}

.address__text {
  margin: 0 0 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $basic-color;
}
