.hero__title {
  margin: 0 auto 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero_img.jpg');
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-color: $hero-color;
  color: $basic-color;
  text-align: center;
  padding: 200px 0;
}

.hero__button {
  padding: 10px 32px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;

  border: none;
  border-radius: 4px;
  background-color: $active-element-color;
  color: $basic-color;
  transition: background-color $time-duration $time-transition,
    color $time-duration $time-transition,
    box-shadow $time-duration $time-transition;

  &:hover,
  &:focus {
    background: $active-hero-button-color;
    box-shadow: 0px 4px 4px $shadow;
    border-radius: 4px;
  }
}
