.soc {
  display: flex;
}

.soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: $soc-inactive-color;

  transition: background-color $time-transition $time-duration,
    color $time-transition $time-duration;

  &:hover,
  &:focus {
    background-color: $active-element-color;
    color: $basic-color;
  }
  &--footer {
    color: $basic-color;
  }
}
.soc__item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.soc__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
